/* Estilos generales para la App */
.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Contenedor de la información y el menú */
.content-container {
  display: flex;
  width: 100%;
  max-width: 1250px;
  font-size: 13px;
  flex-wrap: wrap;
  background-color: #ffffffb1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.995);
  width: 1500px;
}

/* Estilos para la navegación de los botones */
.button-nav {
  flex: 0;
  margin-right: 10px;
  min-width: 200px;
}

/* Lista de botones */
.button-nav ul {
  list-style: none;
  padding: 0;
}

/* Estilos individuales para cada botón */
.button-nav li {
  margin-bottom: 10px;
}

/* Estilos para los botones - ahora más pequeños */
.menu-btn {
  padding: 8px 15px;  /* Hacemos los botones más pequeños ajustando el padding */
  background-color: #728fee;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 15px;  /* Reducimos el tamaño de la fuente */
  width: 100%;  /* Los botones ocupan todo el ancho disponible */
  box-sizing: border-box;  /* Asegura que el padding no afecte el tamaño total del botón */
}

/* Efecto hover para los botones */
.menu-btn:hover {
  background-color: #3e69f4;
  transform: scale(1.1);
}

.menu-btn:active {
  background-color: #2e7d32;
  transform: scale(1);
}

/* Estilos para la información */
.info-section {
  flex: 3;
  padding: 30px;
  flex-grow: 1;
}

/* Estilo para títulos */
.info-section h2 {
  color: #3f84d2;
}

/* Estilo de la lista */
.info-section ul {
  margin: 0;
  padding: 0;
}

.info-section ul li {
  margin: 5px 0;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }

  .button-nav {
    width: 100%;
    margin-right: 0;
  }

  .menu-btn {
    width: 100%;
    margin-bottom: 10px;
    font-size: 12px;  /* Reducimos aún más el tamaño de la fuente en pantallas pequeñas */
    padding: 6px 12px;  /* Ajustamos el padding para que el botón sea más pequeño */
  }
}

/* Media queries para pantallas muy pequeñas (como teléfonos en orientación vertical) */
@media (max-width: 480px) {
  .menu-btn {
    padding: 6px 12px;  /* Aseguramos que el botón sea pequeño también en pantallas muy pequeñas */
    font-size: 12px;
  }
}


.Hola{
  color: #ffffff;
  text-align: center;
}